/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

html{
    height:100%;
    width:100%;
}

body{
    background-image:url("images/map.png");
    background-repeat:no-repeat;
}

.testButton{
    background-image:url("images/locationPin.png");
    background-size: cover;
    top:450px;
    left:350px;
    position:absolute;
    width:100px;
    height:100px;
}

.infoBox{
    position:absolute;
    height:200px;
    width:100%;
    bottom:0;
    left:0;
	background-color: rgba(72,72,72,0.48);
    font-size:50px;
    font-color:white;


}

.container{
    position:absolute;
    height:100%;
    width:100%;
    top:-2000px;
    left:0;
    background-color:white;
}

.arrow{
    position:relative;
    top:80px;
    left:calc(50% - 25px);
   height:100px;
    background-image:url("images/arrowDown.png");
    background-repeat:no-repeat;
}

.arrowUp{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); 
  transform: rotate(180deg);
    height:200px;
    width:100%;
}

.exit{
    background-image:url('images/exitGrey.png');
    background-repeat:no-repeat;
    background-color:transparent;
    background-size:40px 40px;
    border:0 !important;
    outline:0 !important;
    height:40px;
    width:40px;
    position:absolute;
    z-index:30 !important;
right:40px;
    top:40px;
}

.buttonGone{
    left:-250px !important;

}

.bio{
    
}
